@import 'tailwindcss';

:root {
  --color-white: #fff;
  --color-black: #000;

  --gray-50: oklch(0.985 0 0);
  --gray-100: oklch(0.967 0.001 286.375);
  --gray-200: oklch(0.92 0.004 286.32);
  --gray-300: oklch(0.871 0.006 286.286);
  --gray-400: oklch(0.705 0.015 286.067);
  --gray-500: oklch(0.552 0.016 285.938);
  --gray-600: oklch(0.442 0.017 285.786);
  --gray-700: oklch(0.37 0.013 285.805);
  --gray-800: oklch(0.274 0.006 286.033);
  --gray-900: oklch(0.21 0.006 285.885);
  --gray-950: oklch(0.141 0.005 285.823);

  --primary-50: oklch(0.984 0.019 200.873);
  --primary-100: oklch(0.956 0.045 203.388);
  --primary-200: oklch(0.917 0.08 205.041);
  --primary-300: oklch(0.865 0.127 207.078);
  --primary-400: oklch(0.789 0.154 211.53);
  --primary-500: oklch(0.715 0.143 215.221);
  --primary-600: oklch(0.609 0.126 221.723);
  --primary-700: oklch(0.52 0.105 223.128);
  --primary-800: oklch(0.45 0.085 224.283);
  --primary-900: oklch(0.398 0.07 227.392);
  --primary-950: oklch(0.302 0.056 229.695);

  --secondary-50: oklch(0.971 0.014 343.198);
  --secondary-100: oklch(0.948 0.028 342.258);
  --secondary-200: oklch(0.899 0.061 343.231);
  --secondary-300: oklch(0.823 0.12 346.018);
  --secondary-400: oklch(0.718 0.202 349.761);
  --secondary-500: oklch(0.656 0.241 354.308);
  --secondary-600: oklch(0.592 0.249 0.584);
  --secondary-700: oklch(0.525 0.223 3.958);
  --secondary-800: oklch(0.459 0.187 3.815);
  --secondary-900: oklch(0.408 0.153 2.432);
  --secondary-950: oklch(0.284 0.109 3.907);

  --success-50: oklch(0.979 0.021 166.113);
  --success-100: oklch(0.95 0.052 163.051);
  --success-200: oklch(0.905 0.093 164.15);
  --success-300: oklch(0.845 0.143 164.978);
  --success-400: oklch(0.765 0.177 163.223);
  --success-500: oklch(0.696 0.17 162.48);
  --success-600: oklch(0.596 0.145 163.225);
  --success-700: oklch(0.508 0.118 165.612);
  --success-800: oklch(0.432 0.095 166.913);
  --success-900: oklch(0.378 0.077 168.94);
  --success-950: oklch(0.262 0.051 172.552);

  --danger-50: oklch(0.971 0.013 17.38);
  --danger-100: oklch(0.936 0.032 17.717);
  --danger-200: oklch(0.885 0.062 18.334);
  --danger-300: oklch(0.808 0.114 19.571);
  --danger-400: oklch(0.704 0.191 22.216);
  --danger-500: oklch(0.637 0.237 25.331);
  --danger-600: oklch(0.577 0.245 27.325);
  --danger-700: oklch(0.505 0.213 27.518);
  --danger-800: oklch(0.444 0.177 26.899);
  --danger-900: oklch(0.396 0.141 25.723);
  --danger-950: oklch(0.258 0.092 26.042);

  --warning-50: oklch(0.987 0.026 102.212);
  --warning-100: oklch(0.973 0.071 103.193);
  --warning-200: oklch(0.945 0.129 101.54);
  --warning-300: oklch(0.905 0.182 98.111);
  --warning-400: oklch(0.852 0.199 91.936);
  --warning-500: oklch(0.795 0.184 86.047);
  --warning-600: oklch(0.681 0.162 75.834);
  --warning-700: oklch(0.554 0.135 66.442);
  --warning-800: oklch(0.476 0.114 61.907);
  --warning-900: oklch(0.421 0.095 57.708);
  --warning-950: oklch(0.286 0.066 53.813);

  --info-50: oklch(0.977 0.013 236.62);
  --info-100: oklch(0.951 0.026 236.824);
  --info-200: oklch(0.901 0.058 230.902);
  --info-300: oklch(0.828 0.111 230.318);
  --info-400: oklch(0.746 0.16 232.661);
  --info-500: oklch(0.685 0.169 237.323);
  --info-600: oklch(0.588 0.158 241.966);
  --info-700: oklch(0.5 0.134 242.749);
  --info-800: oklch(0.443 0.11 240.79);
  --info-900: oklch(0.391 0.09 240.876);
  --info-950: oklch(0.293 0.066 243.157);
}

[data-theme="dark"] {
  --gray-50: oklch(0.141 0.005 285.823);
  --gray-100: oklch(0.21 0.006 285.885);
  --gray-200: oklch(0.274 0.006 286.033);
  --gray-300: oklch(0.37 0.013 285.805);
  --gray-400: oklch(0.442 0.017 285.786);
  --gray-500: oklch(0.552 0.016 285.938);
  --gray-600: oklch(0.705 0.015 286.067);
  --gray-700: oklch(0.871 0.006 286.286);
  --gray-800: oklch(0.92 0.004 286.32);
  --gray-900: oklch(0.967 0.001 286.375);
  --gray-950: oklch(0.985 0 0);

  --primary-50: oklch(0.302 0.056 229.695);
  --primary-100: oklch(0.398 0.07 227.392);
  --primary-200: oklch(0.45 0.085 224.283);
  --primary-300: oklch(0.52 0.105 223.128);
  --primary-400: oklch(0.609 0.126 221.723);
  --primary-500: oklch(0.715 0.143 215.221);
  --primary-600: oklch(0.789 0.154 211.53);
  --primary-700: oklch(0.865 0.127 207.078);
  --primary-800: oklch(0.917 0.08 205.041);
  --primary-900: oklch(0.956 0.045 203.388);
  --primary-950: oklch(0.984 0.019 200.873);

  --secondary-50: oklch(0.284 0.109 3.907);
  --secondary-100: oklch(0.408 0.153 2.432);
  --secondary-200: oklch(0.459 0.187 3.815);
  --secondary-300: oklch(0.525 0.223 3.958);
  --secondary-400: oklch(0.592 0.249 0.584);
  --secondary-500: oklch(0.656 0.241 354.308);
  --secondary-600: oklch(0.718 0.202 349.761);
  --secondary-700: oklch(0.823 0.12 346.018);
  --secondary-800: oklch(0.899 0.061 343.231);
  --secondary-900: oklch(0.948 0.028 342.258);
  --secondary-950: oklch(0.971 0.014 343.198);

  --success-50: oklch(0.262 0.051 172.552);
  --success-100: oklch(0.378 0.077 168.94);
  --success-200: oklch(0.432 0.095 166.913);
  --success-300: oklch(0.508 0.118 165.612);
  --success-400: oklch(0.596 0.145 163.225);
  --success-500: oklch(0.696 0.17 162.48);
  --success-600: oklch(0.765 0.177 163.223);
  --success-700: oklch(0.845 0.143 164.978);
  --success-800: oklch(0.905 0.093 164.15);
  --success-900: oklch(0.95 0.052 163.051);
  --success-950: oklch(0.979 0.021 166.113);

  --danger-50: oklch(0.258 0.092 26.042);
  --danger-100: oklch(0.396 0.141 25.723);
  --danger-200: oklch(0.444 0.177 26.899);
  --danger-300: oklch(0.505 0.213 27.518);
  --danger-400: oklch(0.577 0.245 27.325);
  --danger-500: oklch(0.637 0.237 25.331);
  --danger-600: oklch(0.704 0.191 22.216);
  --danger-700: oklch(0.808 0.114 19.571);
  --danger-800: oklch(0.885 0.062 18.334);
  --danger-900: oklch(0.936 0.032 17.717);
  --danger-950: oklch(0.971 0.013 17.38);

  --warning-50: oklch(0.286 0.066 53.813);
  --warning-100: oklch(0.421 0.095 57.708);
  --warning-200: oklch(0.476 0.114 61.907);
  --warning-300: oklch(0.554 0.135 66.442);
  --warning-400: oklch(0.681 0.162 75.834);
  --warning-500: oklch(0.795 0.184 86.047);
  --warning-600: oklch(0.852 0.199 91.936);
  --warning-700: oklch(0.905 0.182 98.111);
  --warning-800: oklch(0.945 0.129 101.54);
  --warning-900: oklch(0.973 0.071 103.193);
  --warning-950: oklch(0.987 0.026 102.212);

  --info-50: oklch(0.293 0.066 243.157);
  --info-100: oklch(0.391 0.09 240.876);
  --info-200: oklch(0.443 0.11 240.79);
  --info-300: oklch(0.5 0.134 242.749);
  --info-400: oklch(0.588 0.158 241.966);
  --info-500: oklch(0.685 0.169 237.323);
  --info-600: oklch(0.746 0.16 232.661);
  --info-700: oklch(0.828 0.111 230.318);
  --info-800: oklch(0.901 0.058 230.902);
  --info-900: oklch(0.951 0.026 236.824);
  --info-950: oklch(0.977 0.013 236.62);
}

[data-theme="midnight-blue"] {
  --gray-50: oklch(0.129 0.042 264.695);
  --gray-100: oklch(0.208 0.042 265.755);
  --gray-200: oklch(0.279 0.041 260.031);
  --gray-300: oklch(0.372 0.044 257.287);
  --gray-400: oklch(0.446 0.043 257.281);
  --gray-500: oklch(0.554 0.046 257.417);
  --gray-600: oklch(0.704 0.04 256.788);
  --gray-700: oklch(0.869 0.022 252.894);
  --gray-800: oklch(0.929 0.013 255.508);
  --gray-900: oklch(0.967 0.003 264.542);
  --gray-950: oklch(0.984 0.003 247.858);

  --primary-50: oklch(0.282 0.091 267.935);
  --primary-100: oklch(0.379 0.146 265.522);
  --primary-200: oklch(0.424 0.199 265.638);
  --primary-300: oklch(0.488 0.243 264.376);
  --primary-400: oklch(0.546 0.245 262.881);
  --primary-500: oklch(0.623 0.214 259.815);
  --primary-600: oklch(0.707 0.165 254.624);
  --primary-700: oklch(0.809 0.105 251.813);
  --primary-800: oklch(0.882 0.059 254.128);
  --primary-900: oklch(0.932 0.032 255.585);
  --primary-950: oklch(0.97 0.014 254.604);

  --secondary-50: oklch(0.279 0.077 45.635);
  --secondary-100: oklch(0.414 0.112 45.904);
  --secondary-200: oklch(0.473 0.137 46.201);
  --secondary-300: oklch(0.555 0.163 48.998);
  --secondary-400: oklch(0.666 0.179 58.318);
  --secondary-500: oklch(0.769 0.188 70.08);
  --secondary-600: oklch(0.828 0.189 84.429);
  --secondary-700: oklch(0.879 0.169 91.605);
  --secondary-800: oklch(0.924 0.12 95.746);
  --secondary-900: oklch(0.962 0.059 95.617);
  --secondary-950: oklch(0.979 0.021 96.113);

  --success-50: oklch(0.262 0.051 172.552);
  --success-100: oklch(0.378 0.077 168.94);
  --success-200: oklch(0.432 0.095 166.913);
  --success-300: oklch(0.508 0.118 165.612);
  --success-400: oklch(0.596 0.145 163.225);
  --success-500: oklch(0.696 0.17 162.48);
  --success-600: oklch(0.765 0.177 163.223);
  --success-700: oklch(0.845 0.143 164.978);
  --success-800: oklch(0.905 0.093 164.15);
  --success-900: oklch(0.95 0.052 163.051);
  --success-950: oklch(0.979 0.021 166.113);

  --danger-50: oklch(0.258 0.092 26.042);
  --danger-100: oklch(0.396 0.141 25.723);
  --danger-200: oklch(0.444 0.177 26.899);
  --danger-300: oklch(0.505 0.213 27.518);
  --danger-400: oklch(0.577 0.245 27.325);
  --danger-500: oklch(0.637 0.237 25.331);
  --danger-600: oklch(0.704 0.191 22.216);
  --danger-700: oklch(0.808 0.114 19.571);
  --danger-800: oklch(0.885 0.062 18.334);
  --danger-900: oklch(0.936 0.032 17.717);
  --danger-950: oklch(0.971 0.013 17.38);

  --warning-50: oklch(0.286 0.066 53.813);
  --warning-100: oklch(0.421 0.095 57.708);
  --warning-200: oklch(0.476 0.114 61.907);
  --warning-300: oklch(0.554 0.135 66.442);
  --warning-400: oklch(0.681 0.162 75.834);
  --warning-500: oklch(0.795 0.184 86.047);
  --warning-600: oklch(0.852 0.199 91.936);
  --warning-700: oklch(0.905 0.182 98.111);
  --warning-800: oklch(0.945 0.129 101.54);
  --warning-900: oklch(0.973 0.071 103.193);
  --warning-950: oklch(0.987 0.026 102.212);

  --info-50: oklch(0.293 0.066 243.157);
  --info-100: oklch(0.391 0.09 240.876);
  --info-200: oklch(0.443 0.11 240.79);
  --info-300: oklch(0.5 0.134 242.749);
  --info-400: oklch(0.588 0.158 241.966);
  --info-500: oklch(0.685 0.169 237.323);
  --info-600: oklch(0.746 0.16 232.661);
  --info-700: oklch(0.828 0.111 230.318);
  --info-800: oklch(0.901 0.058 230.902);
  --info-900: oklch(0.951 0.026 236.824);
  --info-950: oklch(0.977 0.013 236.62);
}

@theme inline {
  --color-*: initial;
  --color-white: #fff;
  --color-black: #000;

  --color-gray-50: var(--gray-50);
  --color-gray-100: var(--gray-100);
  --color-gray-200: var(--gray-200);
  --color-gray-300: var(--gray-300);
  --color-gray-400: var(--gray-400);
  --color-gray-500: var(--gray-500);
  --color-gray-600: var(--gray-600);
  --color-gray-700: var(--gray-700);
  --color-gray-800: var(--gray-800);
  --color-gray-900: var(--gray-900);
  --color-gray-950: var(--gray-950);

  --color-primary-50: var(--primary-50);
  --color-primary-100: var(--primary-100);
  --color-primary-200: var(--primary-200);
  --color-primary-300: var(--primary-300);
  --color-primary-400: var(--primary-400);
  --color-primary-500: var(--primary-500);
  --color-primary-600: var(--primary-600);
  --color-primary-700: var(--primary-700);
  --color-primary-800: var(--primary-800);
  --color-primary-900: var(--primary-900);
  --color-primary-950: var(--primary-950);

  --color-secondary-50: var(--secondary-50);
  --color-secondary-100: var(--secondary-100);
  --color-secondary-200: var(--secondary-200);
  --color-secondary-300: var(--secondary-300);
  --color-secondary-400: var(--secondary-400);
  --color-secondary-500: var(--secondary-500);
  --color-secondary-600: var(--secondary-600);
  --color-secondary-700: var(--secondary-700);
  --color-secondary-800: var(--secondary-800);
  --color-secondary-900: var(--secondary-900);
  --color-secondary-950: var(--secondary-950);

  --color-success-50: var(--success-50);
  --color-success-100: var(--success-100);
  --color-success-200: var(--success-200);
  --color-success-300: var(--success-300);
  --color-success-400: var(--success-400);
  --color-success-500: var(--success-500);
  --color-success-600: var(--success-600);
  --color-success-700: var(--success-700);
  --color-success-800: var(--success-800);
  --color-success-900: var(--success-900);
  --color-success-950: var(--success-950);

  --color-danger-50: var(--danger-50);
  --color-danger-100: var(--danger-100);
  --color-danger-200: var(--danger-200);
  --color-danger-300: var(--danger-300);
  --color-danger-400: var(--danger-400);
  --color-danger-500: var(--danger-500);
  --color-danger-600: var(--danger-600);
  --color-danger-700: var(--danger-700);
  --color-danger-800: var(--danger-800);
  --color-danger-900: var(--danger-900);
  --color-danger-950: var(--danger-950);

  --color-warning-50: var(--warning-50);
  --color-warning-100: var(--warning-100);
  --color-warning-200: var(--warning-200);
  --color-warning-300: var(--warning-300);
  --color-warning-400: var(--warning-400);
  --color-warning-500: var(--warning-500);
  --color-warning-600: var(--warning-600);
  --color-warning-700: var(--warning-700);
  --color-warning-800: var(--warning-800);
  --color-warning-900: var(--warning-900);
  --color-warning-950: var(--warning-950);

  --color-info-50: var(--info-50);
  --color-info-100: var(--info-100);
  --color-info-200: var(--info-200);
  --color-info-300: var(--info-300);
  --color-info-400: var(--info-400);
  --color-info-500: var(--info-500);
  --color-info-600: var(--info-600);
  --color-info-700: var(--info-700);
  --color-info-800: var(--info-800);
  --color-info-900: var(--info-900);
  --color-info-950: var(--info-950);
}